MTA_Stations.json
{"flowContents":{"identifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153","instanceIdentifier":"514bc3d4-9798-3420-3790-9b0dd8c64506","name":"MTA Stations","comments":"","position":{"x":-160.0,"y":1648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d6c496a8-cfdb-3ee2-8deb-fee6a344d362","instanceIdentifier":"c7603d0f-9f05-1238-a4a2-ab73981aa5f1","name":"Add Flat Fields","comments":"","position":{"x":-616.0,"y":968.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"/entrancetype":"${entrancetype}","/stationname":"${stationname}","/corner":"${corner}","/borough":"${borough}","/vending":"${vending}","/stationlatitude":"${stationlatitude}","/stationlongitude":"${stationlongitude}","/uuid":"${uuid}","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","/line":"${line}","/staffing":"${staffing}","/ts":"${now():toNumber()}","Replacement Value Strategy":"literal-value","/exitonly":"${exitonly}","/entity":"${entity}","/entrancegeoreference":"${entrancegeoreference}","/eastweststreet":"${eastweststreet}","/division":"${division}","/stationgeoreference":"${stationgeoreference}","/entrancelatitude":"${entrancelatitude}","/northsouthstreet":"${northsouthstreet}","/entrancelongitude":"${entrancelongitude}","Record Writer":"c8de2d9d-868f-3017-ae47-70362fa1a938","/daytimeroutes":"${daytimeroutes}"},"propertyDescriptors":{"/entrancetype":{"name":"/entrancetype","displayName":"/entrancetype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/stationname":{"name":"/stationname","displayName":"/stationname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/corner":{"name":"/corner","displayName":"/corner","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/borough":{"name":"/borough","displayName":"/borough","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/vending":{"name":"/vending","displayName":"/vending","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/stationlatitude":{"name":"/stationlatitude","displayName":"/stationlatitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/stationlongitude":{"name":"/stationlongitude","displayName":"/stationlongitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/line":{"name":"/line","displayName":"/line","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/staffing":{"name":"/staffing","displayName":"/staffing","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/exitonly":{"name":"/exitonly","displayName":"/exitonly","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/entity":{"name":"/entity","displayName":"/entity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/entrancegeoreference":{"name":"/entrancegeoreference","displayName":"/entrancegeoreference","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/eastweststreet":{"name":"/eastweststreet","displayName":"/eastweststreet","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/division":{"name":"/division","displayName":"/division","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/stationgeoreference":{"name":"/stationgeoreference","displayName":"/stationgeoreference","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/entrancelatitude":{"name":"/entrancelatitude","displayName":"/entrancelatitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/northsouthstreet":{"name":"/northsouthstreet","displayName":"/northsouthstreet","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/entrancelongitude":{"name":"/entrancelongitude","displayName":"/entrancelongitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/daytimeroutes":{"name":"/daytimeroutes","displayName":"/daytimeroutes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"cc111b22-6f5b-3cd8-9e89-bbba872012c2","instanceIdentifier":"c7603d41-9f05-1238-b1f2-7b8f5e597a43","name":"Remove Bad","comments":"","position":{"x":-608.0,"y":768.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","record-reader":"68e6aee5-8890-3ddd-9194-0fffd709926d","include-zero-record-flowfiles":"false","clean":"SELECT division,line,borough, station_name, station_latitude, station_longitude,daytime_routes,entrance_type,entry,exit_only,\n      vending,staffing,north_south_street, east_west_street,corner,entrance_latitude,entrance_longitude\nFROM FLOWFILE","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"clean":{"name":"clean","displayName":"clean","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"e44983e0-273a-3e24-a7c9-978bbb2e8378","instanceIdentifier":"c7603cfe-9f05-1238-96cc-921d5fca3a31","name":"Update Content Type JSON","comments":"","position":{"x":-624.0,"y":1536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Mime-Type":"application/json","schema":"mtastations","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","topic":"mtastations","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"298b7b04-f0b5-3d6c-a7c2-b931f85c716d","instanceIdentifier":"c7603d06-9f05-1238-bb54-ba8daf796876","name":"Filter","comments":"","position":{"x":-608.0,"y":568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"entrancetype":"$.entrance_type","Destination":"flowfile-attribute","Max String Length":"20 MB","line":"$.line","Return Type":"json","vending":"$.vending","entrancegeoreference":"$.entrance_georeference.coordinates","eastweststreet":"$.east_west_street","Null Value Representation":"empty string","borough":"$.borough","stationname":"$.station_name","exitonly":"$.exit_only","stationlatitude":"$.station_latitude","entrancelongitude":"$.entrance_longitude","Path Not Found Behavior":"ignore","staffing":"$.staffing","division":"$.division","entry":"$.entry","entrancelatitude":"$.entrance_latitude","daytimeroutes":"$.daytime_routes","northsouthstreet":"$.north_south_street","corner":"$.corner","stationgeoreference":"$.station_georeference.coordinates","stationlongitude":"$.station_longitude"},"propertyDescriptors":{"entrancetype":{"name":"entrancetype","displayName":"entrancetype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"line":{"name":"line","displayName":"line","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"vending":{"name":"vending","displayName":"vending","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entrancegeoreference":{"name":"entrancegeoreference","displayName":"entrancegeoreference","identifiesControllerService":false,"sensitive":false,"dynamic":true},"eastweststreet":{"name":"eastweststreet","displayName":"eastweststreet","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"borough":{"name":"borough","displayName":"borough","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stationname":{"name":"stationname","displayName":"stationname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"exitonly":{"name":"exitonly","displayName":"exitonly","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stationlatitude":{"name":"stationlatitude","displayName":"stationlatitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entrancelongitude":{"name":"entrancelongitude","displayName":"entrancelongitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"staffing":{"name":"staffing","displayName":"staffing","identifiesControllerService":false,"sensitive":false,"dynamic":true},"division":{"name":"division","displayName":"division","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entry":{"name":"entry","displayName":"entry","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entrancelatitude":{"name":"entrancelatitude","displayName":"entrancelatitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"daytimeroutes":{"name":"daytimeroutes","displayName":"daytimeroutes","identifiesControllerService":false,"sensitive":false,"dynamic":true},"northsouthstreet":{"name":"northsouthstreet","displayName":"northsouthstreet","identifiesControllerService":false,"sensitive":false,"dynamic":true},"corner":{"name":"corner","displayName":"corner","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stationgeoreference":{"name":"stationgeoreference","displayName":"stationgeoreference","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stationlongitude":{"name":"stationlongitude","displayName":"stationlongitude","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"d617adbf-849e-3039-b733-faf71122d3a2","instanceIdentifier":"c7603cfc-9f05-1238-e55d-8f94b913e14e","name":"RetryFlowFile","comments":"","position":{"x":-624.0,"y":1912.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"465849d1-bd27-37bf-b596-8d4e93109293","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077","name":"Send to Postgresql","comments":"","position":{"x":-616.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"eb24916d-36fb-37eb-8725-b65914afc5cc","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"mtasubwaystations","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"0d722418-a43a-39ad-a531-4aa7c7b17c09","instanceIdentifier":"c7603cfd-9f05-1238-f21c-9fc052333886","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":-624.0,"y":1728.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"d011a831-6752-3f13-ba0f-a61b93243236","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"mtastations2","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"${topic}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"6874e81a-f3cd-3465-a84d-71d693b09cad","instanceIdentifier":"c7603d14-9f05-1238-cd6c-e1ca260f1962","name":"SplitRecord","comments":"","position":{"x":-616.0,"y":368.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","Record Reader":"68e6aee5-8890-3ddd-9194-0fffd709926d","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"e92d55bd-cd88-3886-ba79-6cc9e511c7a1","instanceIdentifier":"536c319c-2e87-3cd8-c7be-3710deb59189","name":"MTA Subway Stations Lookup","comments":"","position":{"x":-616.0,"y":160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"55 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"115 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://data.ny.gov/resource/i9wp-a4ja.json","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"215 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"6000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"37ea0ff9-f58e-3dd5-9daf-a59a87e0a6b6","instanceIdentifier":"af453b02-5914-1898-2bd3-3fe3fedb65b8","name":"UpdateDatabaseTable","comments":"","position":{"x":-624.0,"y":1152.0},"type":"org.apache.nifi.processors.standard.UpdateDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"updatedatabasetable-table-name":"mtasubwaystations","updatedatabasetable-query-timeout":"0","updatedatabasetable-create-table":"Create If Not Exists","updatedatabasetable-update-field-names":"true","updatedatabasetable-quoted-column-identifiers":"false","updatedatabasetable-schema-name":"public","updatedatabasetable-dbcp-service":"eb24916d-36fb-37eb-8725-b65914afc5cc","updatedatabasetable-translate-field-names":"true","updatedatabasetable-catalog-name":null,"updatedatabasetable-primary-keys":"uuid","db-type":"PostgreSQL","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","updatedatabasetable-quoted-table-identifiers":"false","updatedatabasetable-record-writer":"c8de2d9d-868f-3017-ae47-70362fa1a938"},"propertyDescriptors":{"updatedatabasetable-table-name":{"name":"updatedatabasetable-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-query-timeout":{"name":"updatedatabasetable-query-timeout","displayName":"Query Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-create-table":{"name":"updatedatabasetable-create-table","displayName":"Create Table Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-update-field-names":{"name":"updatedatabasetable-update-field-names","displayName":"Update Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-column-identifiers":{"name":"updatedatabasetable-quoted-column-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-schema-name":{"name":"updatedatabasetable-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-dbcp-service":{"name":"updatedatabasetable-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-translate-field-names":{"name":"updatedatabasetable-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-catalog-name":{"name":"updatedatabasetable-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-primary-keys":{"name":"updatedatabasetable-primary-keys","displayName":"Primary Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-table-identifiers":{"name":"updatedatabasetable-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-record-writer":{"name":"updatedatabasetable-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"538144d6-3782-3ea1-8392-5cfaeb059873","instanceIdentifier":"c7603d16-9f05-1238-2476-aafbe0e25453","name":"","source":{"id":"6874e81a-f3cd-3465-a84d-71d693b09cad","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"SplitRecord","comments":"","instanceIdentifier":"c7603d14-9f05-1238-cd6c-e1ca260f1962"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"5465fb09-2c63-3aa0-9948-e963abd7d906","instanceIdentifier":"c7603d11-9f05-1238-1a70-5174eb5334d1","name":"","source":{"id":"d6c496a8-cfdb-3ee2-8deb-fee6a344d362","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Add Flat Fields","comments":"","instanceIdentifier":"c7603d0f-9f05-1238-a4a2-ab73981aa5f1"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"2fa54254-8122-3cbb-bb9f-7758f75d3bec","instanceIdentifier":"c7603cff-9f05-1238-fd2c-507e3f66df02","name":"","source":{"id":"e44983e0-273a-3e24-a7c9-978bbb2e8378","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Update Content Type JSON","comments":"","instanceIdentifier":"c7603cfe-9f05-1238-96cc-921d5fca3a31"},"destination":{"id":"0d722418-a43a-39ad-a531-4aa7c7b17c09","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"c7603cfd-9f05-1238-f21c-9fc052333886"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"632562d5-a401-32b0-8f20-859b1cfe2b76","instanceIdentifier":"af453b05-5914-1898-fad3-732c32410538","name":"","source":{"id":"37ea0ff9-f58e-3dd5-9daf-a59a87e0a6b6","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"af453b02-5914-1898-2bd3-3fe3fedb65b8"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"81eb3a0d-ff51-314f-be3e-c342d757e4e3","instanceIdentifier":"c7603d43-9f05-1238-d2b3-4254d17d35be","name":"","source":{"id":"cc111b22-6f5b-3cd8-9e89-bbba872012c2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Remove Bad","comments":"","instanceIdentifier":"c7603d41-9f05-1238-b1f2-7b8f5e597a43"},"destination":{"id":"d6c496a8-cfdb-3ee2-8deb-fee6a344d362","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Add Flat Fields","comments":"","instanceIdentifier":"c7603d0f-9f05-1238-a4a2-ab73981aa5f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"302ef14a-d087-3d99-903d-afca278dd9b0","instanceIdentifier":"c7603d00-9f05-1238-1ba4-93cb59706f64","name":"","source":{"id":"0d722418-a43a-39ad-a531-4aa7c7b17c09","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"c7603cfd-9f05-1238-f21c-9fc052333886"},"destination":{"id":"d617adbf-849e-3039-b733-faf71122d3a2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"RetryFlowFile","comments":"","instanceIdentifier":"c7603cfc-9f05-1238-e55d-8f94b913e14e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"cc9e44e5-71d4-3c08-8d1b-b6ab53839ea5","instanceIdentifier":"c7603d22-9f05-1238-df43-868a6d4a8bc1","name":"","source":{"id":"e92d55bd-cd88-3886-ba79-6cc9e511c7a1","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"MTA Subway Stations Lookup","comments":"","instanceIdentifier":"536c319c-2e87-3cd8-c7be-3710deb59189"},"destination":{"id":"6874e81a-f3cd-3465-a84d-71d693b09cad","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"SplitRecord","comments":"","instanceIdentifier":"c7603d14-9f05-1238-cd6c-e1ca260f1962"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"33157934-ba7d-3640-8fa2-1eebde0fe29e","instanceIdentifier":"c7603d42-9f05-1238-3ffb-a40dae61660d","name":"","source":{"id":"cc111b22-6f5b-3cd8-9e89-bbba872012c2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Remove Bad","comments":"","instanceIdentifier":"c7603d41-9f05-1238-b1f2-7b8f5e597a43"},"destination":{"id":"d6c496a8-cfdb-3ee2-8deb-fee6a344d362","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Add Flat Fields","comments":"","instanceIdentifier":"c7603d0f-9f05-1238-a4a2-ab73981aa5f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["clean"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"22c0c676-af61-30c8-9bc5-75af21b5485f","instanceIdentifier":"c7603d27-9f05-1238-0e7f-00c3a591c29f","name":"","source":{"id":"d6c496a8-cfdb-3ee2-8deb-fee6a344d362","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Add Flat Fields","comments":"","instanceIdentifier":"c7603d0f-9f05-1238-a4a2-ab73981aa5f1"},"destination":{"id":"37ea0ff9-f58e-3dd5-9daf-a59a87e0a6b6","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"af453b02-5914-1898-2bd3-3fe3fedb65b8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"7a1c379a-1f0b-32c0-9a31-44d04a13d873","instanceIdentifier":"af453b04-5914-1898-ceda-4713095c0840","name":"","source":{"id":"37ea0ff9-f58e-3dd5-9daf-a59a87e0a6b6","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"af453b02-5914-1898-2bd3-3fe3fedb65b8"},"destination":{"id":"465849d1-bd27-37bf-b596-8d4e93109293","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Send to Postgresql","comments":"","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"4ed1e61d-c519-31e8-821d-419c925b6679","instanceIdentifier":"c7603d15-9f05-1238-1714-c57e41e957b1","name":"","source":{"id":"6874e81a-f3cd-3465-a84d-71d693b09cad","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"SplitRecord","comments":"","instanceIdentifier":"c7603d14-9f05-1238-cd6c-e1ca260f1962"},"destination":{"id":"298b7b04-f0b5-3d6c-a7c2-b931f85c716d","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Filter","comments":"","instanceIdentifier":"c7603d06-9f05-1238-bb54-ba8daf796876"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"be00a40d-365c-394a-8404-6cefca663633","instanceIdentifier":"0821da37-3388-3cd7-f289-6387e8e8aed0","name":"","source":{"id":"e92d55bd-cd88-3886-ba79-6cc9e511c7a1","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"MTA Subway Stations Lookup","comments":"","instanceIdentifier":"536c319c-2e87-3cd8-c7be-3710deb59189"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"7cdd668c-8231-3209-a028-dec10c4bcaac","instanceIdentifier":"c7603d0a-9f05-1238-b0bf-fcac6bf978b9","name":"","source":{"id":"298b7b04-f0b5-3d6c-a7c2-b931f85c716d","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Filter","comments":"","instanceIdentifier":"c7603d06-9f05-1238-bb54-ba8daf796876"},"destination":{"id":"cc111b22-6f5b-3cd8-9e89-bbba872012c2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Remove Bad","comments":"","instanceIdentifier":"c7603d41-9f05-1238-b1f2-7b8f5e597a43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"4eae4faf-5269-36d6-b724-462dd61e3983","instanceIdentifier":"af453b08-5914-1898-ef2a-3148ed4e29a7","name":"","source":{"id":"465849d1-bd27-37bf-b596-8d4e93109293","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Send to Postgresql","comments":"","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077"},"destination":{"id":"465849d1-bd27-37bf-b596-8d4e93109293","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Send to Postgresql","comments":"","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-144.9295654296875,"y":1375.4947509765625},{"x":-109.9295654296875,"y":1424.4947509765625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"dc8364d3-ca1c-3e96-bfab-ac71ef49a88b","instanceIdentifier":"c7603d01-9f05-1238-84b7-bf8168390ce5","name":"","source":{"id":"465849d1-bd27-37bf-b596-8d4e93109293","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Send to Postgresql","comments":"","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077"},"destination":{"id":"e44983e0-273a-3e24-a7c9-978bbb2e8378","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Update Content Type JSON","comments":"","instanceIdentifier":"c7603cfe-9f05-1238-96cc-921d5fca3a31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"88ea5768-d1af-3ad1-a5a1-455f88cad4f9","instanceIdentifier":"c7603d4f-9f05-1238-bb06-ccfd384f4783","name":"","source":{"id":"d617adbf-849e-3039-b733-faf71122d3a2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"RetryFlowFile","comments":"","instanceIdentifier":"c7603cfc-9f05-1238-e55d-8f94b913e14e"},"destination":{"id":"0d722418-a43a-39ad-a531-4aa7c7b17c09","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"c7603cfd-9f05-1238-f21c-9fc052333886"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-768.0,"y":1896.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"759a9397-b225-31cc-be67-122eecd97c00","instanceIdentifier":"af453b06-5914-1898-6699-3bb708f46c48","name":"","source":{"id":"465849d1-bd27-37bf-b596-8d4e93109293","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Send to Postgresql","comments":"","instanceIdentifier":"af453b03-5914-1898-f951-55b09c01b077"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"a3dfa05d-a6b4-3b41-b3d2-e922fd767e3a","instanceIdentifier":"c7603d51-9f05-1238-6c97-4746eaee1f54","name":"","source":{"id":"d617adbf-849e-3039-b733-faf71122d3a2","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"RetryFlowFile","comments":"","instanceIdentifier":"c7603cfc-9f05-1238-e55d-8f94b913e14e"},"destination":{"id":"baa176a9-c97d-384e-bc36-e5e52a541e03","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"c7603d50-9f05-1238-cc02-a4340f7e76bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"754b9c9c-8cb8-3969-86f0-5a39d8f4e291","instanceIdentifier":"c7603d0b-9f05-1238-b885-ac387ca24b54","name":"","source":{"id":"298b7b04-f0b5-3d6c-a7c2-b931f85c716d","type":"PROCESSOR","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Filter","comments":"","instanceIdentifier":"c7603d06-9f05-1238-bb54-ba8daf796876"},"destination":{"id":"651dfadc-4b1f-3423-812b-6a091114a910","type":"FUNNEL","groupId":"376754f7-d67f-36a9-a2e8-a95e3c66d153","name":"Funnel","comments":"","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"}],"labels":[{"identifier":"7bfc6269-7579-37d5-a664-7342eb09f6c5","instanceIdentifier":"54dd751c-2762-3062-8f79-ecfbce654e90","position":{"x":-696.0,"y":-304.0},"label":"MTA SUBWAY STATIONS","zIndex":0,"width":488.0,"height":168.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"}],"funnels":[{"identifier":"651dfadc-4b1f-3423-812b-6a091114a910","instanceIdentifier":"61db2f4c-e2d1-31da-ebe8-c9b22996a5bf","position":{"x":464.0,"y":768.0},"componentType":"FUNNEL","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"},{"identifier":"baa176a9-c97d-384e-bc36-e5e52a541e03","instanceIdentifier":"c7603d50-9f05-1238-cc02-a4340f7e76bc","position":{"x":-40.0,"y":1840.0},"componentType":"FUNNEL","groupIdentifier":"376754f7-d67f-36a9-a2e8-a95e3c66d153"}],"controllerServices":[],"parameterContextName":"mtastations","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":250000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"eb24916d-36fb-37eb-8725-b65914afc5cc":{"identifier":"eb24916d-36fb-37eb-8725-b65914afc5cc","name":"PostgresHikariCPConnectionPool"},"68e6aee5-8890-3ddd-9194-0fffd709926d":{"identifier":"68e6aee5-8890-3ddd-9194-0fffd709926d","name":"CDP Infer JsonTreeReader"},"8c9157d0-d6a4-3089-98ce-2c4b68f983b1":{"identifier":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","name":"JsonRecordSetWriterMTA"},"d011a831-6752-3f13-ba0f-a61b93243236":{"identifier":"d011a831-6752-3f13-ba0f-a61b93243236","name":"JsonTreeReaderInfer"},"c8de2d9d-868f-3017-ae47-70362fa1a938":{"identifier":"c8de2d9d-868f-3017-ae47-70362fa1a938","name":"BuildSchemaJsonRecordSetWriter"}},"parameterContexts":{"mtastations":{"name":"mtastations","parameters":[],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}