SEPTA_PA__bus_alerts.json
{"flowContents":{"identifier":"6c718c21-2edd-3b76-8185-43409520e0c5","instanceIdentifier":"7ba41dd1-d250-3c24-2aa7-73d7e5023361","name":"SEPTA PA  bus alerts","comments":"","position":{"x":-1000.0,"y":1712.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"53aee632-35b3-34a1-986b-33338ba48212","instanceIdentifier":"021e5789-4327-31ed-8c9e-8c438b6ed769","name":"Septa Bus Service","comments":"","position":{"x":-752.0,"y":944.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"25 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"115 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www3.septa.org/api/pbtojson/Bus/Services/index.php","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"215 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"3e56ba34-b478-3122-9fcd-e9ec640785f5","instanceIdentifier":"795bfa80-93de-389e-7797-467b59a737ee","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":-720.0,"y":2312.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"septanifistation","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"${topic}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"f6488e19-826c-3fb2-8099-1ff760cf6b4f","instanceIdentifier":"e155e6ce-e85e-32a6-0214-bb9c9884a492","name":"SEPTA Train Service","comments":"","position":{"x":112.0,"y":464.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"125 secs","Response Cookie Strategy":"ACCEPT_ALL","Socket Read Timeout":"215 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www3.septa.org/api/pbtojson/Train/Service/index.php","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"315 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"46ddf192-2859-3aa2-a209-9be5f0d8cb1c","instanceIdentifier":"5352370b-b4c2-1677-60b8-75b0bc27f1e9","name":"Build New Record","comments":"","position":{"x":-728.0,"y":1920.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"activeperiodend,activeperiodstart,alertlang,alerttext,cause,descriptionlang,descriptiontext,effect,routeid,stopid","Pretty Print":"false","Include Core Attributes":"false","JSON Handling Strategy":"NESTED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"c9687b90-ccf3-3a1b-87ed-d12721eed009","instanceIdentifier":"c27bbd7b-4f0f-368b-6aa5-db189fa6e386","name":"Update Content Type JSON","comments":"","position":{"x":-744.0,"y":1136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Mime-Type":"application/json","schema":"septabusalerts","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"septabusalerts","topic":"septabusalerts","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"83bf6323-ec12-355b-85e3-87f843f73e6e","instanceIdentifier":"572bc579-014f-3577-d68d-9152f1ad1182","name":"RetryFlowFile","comments":"","position":{"x":-712.0,"y":2504.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"1fb95be3-be56-3410-a7e9-18f1308c750c","instanceIdentifier":"5352370c-b4c2-1677-a641-6194e1ffcc79","name":"Add Fields","comments":"","position":{"x":-728.0,"y":2120.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"/maxlong":"${maxlong}","/locationcountrycode":"US","/locationmunicipality":"Philadelphia","/uuid":"${uuid}","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","/locationsubdivisionname":"SEPTA","/rundate":"${Date}","/ts":"${now():toNumber()}","Replacement Value Strategy":"literal-value","/minlong":"${minlong}","/providername":"SEPTA","Record Writer":"c8de2d9d-868f-3017-ae47-70362fa1a938","/minlat":"${minlat}","/maxlat":"${maxlat}","/transitname":"SEPTAPABUS"},"propertyDescriptors":{"/maxlong":{"name":"/maxlong","displayName":"/maxlong","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/locationcountrycode":{"name":"/locationcountrycode","displayName":"/locationcountrycode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/locationmunicipality":{"name":"/locationmunicipality","displayName":"/locationmunicipality","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/locationsubdivisionname":{"name":"/locationsubdivisionname","displayName":"/locationsubdivisionname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/rundate":{"name":"/rundate","displayName":"/rundate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/minlong":{"name":"/minlong","displayName":"/minlong","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/providername":{"name":"/providername","displayName":"/providername","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/minlat":{"name":"/minlat","displayName":"/minlat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/maxlat":{"name":"/maxlat","displayName":"/maxlat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/transitname":{"name":"/transitname","displayName":"/transitname","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"3f0ee83c-b81c-3c5e-9e72-ff785d15c41c","instanceIdentifier":"5352370e-b4c2-1677-85b5-d9b049d69b95","name":"Build Flat Record","comments":"","position":{"x":-736.0,"y":1720.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","routeid4":"$.alert.informedEntity.[3].routeId","routeid5":"$.alert.informedEntity.[4].routeId","Max String Length":"20 MB","Return Type":"json","descriptionlang":"$.alert.descriptionText.translation.[0].language","stopid":"$.alert.informedEntity.[0].stopId","cause":"$.alert.cause","Null Value Representation":"empty string","alerttext":"$.alert.headerText.translation.[0].text","alertlang":"$.alert.headerText.translation.[0].language","Path Not Found Behavior":"ignore","routeid":"$.alert.informed_entity.[0].route_id","effect":"$.alert.effect","stopid5":"$.alert.informedEntity.[4].stopId","stopid4":"$.alert.informedEntity.[3].stopId","descriptiontext":"$.alert.header_text.translation.[0].text","activeperiodend":"$.alert.activePeriod.[0].end","stopid3":"$.alert.informedEntity.[2].stopId","stopid2":"$.alert.informedEntity.[1].stopId","routeid2":"$.alert.informedEntity.[1].routeId","routeid3":"$.alert.informedEntity.[2].routeId","activeperiodstart":"$.alert.activePeriod.[0].start"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routeid4":{"name":"routeid4","displayName":"routeid4","identifiesControllerService":false,"sensitive":false,"dynamic":true},"routeid5":{"name":"routeid5","displayName":"routeid5","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"descriptionlang":{"name":"descriptionlang","displayName":"descriptionlang","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stopid":{"name":"stopid","displayName":"stopid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"cause":{"name":"cause","displayName":"cause","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alerttext":{"name":"alerttext","displayName":"alerttext","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alertlang":{"name":"alertlang","displayName":"alertlang","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routeid":{"name":"routeid","displayName":"routeid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"effect":{"name":"effect","displayName":"effect","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stopid5":{"name":"stopid5","displayName":"stopid5","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stopid4":{"name":"stopid4","displayName":"stopid4","identifiesControllerService":false,"sensitive":false,"dynamic":true},"descriptiontext":{"name":"descriptiontext","displayName":"descriptiontext","identifiesControllerService":false,"sensitive":false,"dynamic":true},"activeperiodend":{"name":"activeperiodend","displayName":"activeperiodend","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stopid3":{"name":"stopid3","displayName":"stopid3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stopid2":{"name":"stopid2","displayName":"stopid2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"routeid2":{"name":"routeid2","displayName":"routeid2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"routeid3":{"name":"routeid3","displayName":"routeid3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"activeperiodstart":{"name":"activeperiodstart","displayName":"activeperiodstart","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"e0ca0096-d23c-3f72-af93-47424944815c","instanceIdentifier":"5352370a-b4c2-1677-ec13-b1ac6c6d9d0c","name":"SplitJson","comments":"","position":{"x":-744.0,"y":1336.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.entity"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"d90dfcfd-c3bb-3f6c-a286-6afa6e87ad21","instanceIdentifier":"5352370d-b4c2-1677-9914-78a8740b3d1a","name":"SplitRecord","comments":"","position":{"x":-744.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"c8de2d9d-868f-3017-ae47-70362fa1a938","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"0ee4b345-2d77-3d06-bc79-9a31ca39b531","instanceIdentifier":"133d7bdc-6364-3a0f-3629-0642e2130974","name":"Update Content Type JSON","comments":"","position":{"x":112.0,"y":704.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Mime-Type":"application/json","schema":"septabusalerts","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"septabusalerts","topic":"septabusalerts","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c9d7b5dc-348f-3501-ad58-eff20dbc94be","instanceIdentifier":"53523722-b4c2-1677-4ba1-1e37ffbcfc46","name":"","source":{"id":"83bf6323-ec12-355b-85e3-87f843f73e6e","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"RetryFlowFile","comments":"","instanceIdentifier":"572bc579-014f-3577-d68d-9152f1ad1182"},"destination":{"id":"41b9fcce-f731-3911-aae9-466a7b8d51f0","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"53523719-b4c2-1677-d15c-cf62b568cee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"bf6d83ba-fe57-3c59-a957-fcceb595ba5b","instanceIdentifier":"cb6a71f3-56e9-30c5-402d-23a78025c79e","name":"","source":{"id":"83bf6323-ec12-355b-85e3-87f843f73e6e","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"RetryFlowFile","comments":"","instanceIdentifier":"572bc579-014f-3577-d68d-9152f1ad1182"},"destination":{"id":"3e56ba34-b478-3122-9fcd-e9ec640785f5","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"795bfa80-93de-389e-7797-467b59a737ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-840.0,"y":2464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"211fab76-143b-310e-89a4-88cb89ce2676","instanceIdentifier":"f54eff85-0e57-3e84-a778-07f02c5fb48c","name":"","source":{"id":"3e56ba34-b478-3122-9fcd-e9ec640785f5","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"795bfa80-93de-389e-7797-467b59a737ee"},"destination":{"id":"83bf6323-ec12-355b-85e3-87f843f73e6e","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"RetryFlowFile","comments":"","instanceIdentifier":"572bc579-014f-3577-d68d-9152f1ad1182"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"4fbab4cf-ba2c-359c-a1d9-446c0dcb7503","instanceIdentifier":"5352371b-b4c2-1677-4307-82fb1fd52891","name":"","source":{"id":"46ddf192-2859-3aa2-a209-9be5f0d8cb1c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build New Record","comments":"","instanceIdentifier":"5352370b-b4c2-1677-60b8-75b0bc27f1e9"},"destination":{"id":"41b9fcce-f731-3911-aae9-466a7b8d51f0","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"53523719-b4c2-1677-d15c-cf62b568cee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"297da15d-a7a8-371a-95cc-c8436dd816c8","instanceIdentifier":"53523721-b4c2-1677-7038-d43c09885406","name":"","source":{"id":"1fb95be3-be56-3410-a7e9-18f1308c750c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Add Fields","comments":"","instanceIdentifier":"5352370c-b4c2-1677-a641-6194e1ffcc79"},"destination":{"id":"3e56ba34-b478-3122-9fcd-e9ec640785f5","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"795bfa80-93de-389e-7797-467b59a737ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"e19039da-7929-39e5-a4ea-b758786a2300","instanceIdentifier":"5352370f-b4c2-1677-a19f-11e4badf71e2","name":"","source":{"id":"3f0ee83c-b81c-3c5e-9e72-ff785d15c41c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build Flat Record","comments":"","instanceIdentifier":"5352370e-b4c2-1677-85b5-d9b049d69b95"},"destination":{"id":"46ddf192-2859-3aa2-a209-9be5f0d8cb1c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build New Record","comments":"","instanceIdentifier":"5352370b-b4c2-1677-60b8-75b0bc27f1e9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"d3812a24-38d3-3d19-961e-805e94893c2c","instanceIdentifier":"9ef4b054-f468-38c5-910c-fa0a5d882fbc","name":"","source":{"id":"53aee632-35b3-34a1-986b-33338ba48212","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Septa Bus Service","comments":"","instanceIdentifier":"021e5789-4327-31ed-8c9e-8c438b6ed769"},"destination":{"id":"c9687b90-ccf3-3a1b-87ed-d12721eed009","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Update Content Type JSON","comments":"","instanceIdentifier":"c27bbd7b-4f0f-368b-6aa5-db189fa6e386"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"82876078-4eee-374c-a7bd-0f36d4949539","instanceIdentifier":"53523715-b4c2-1677-c979-95fdde5881c7","name":"","source":{"id":"d90dfcfd-c3bb-3f6c-a286-6afa6e87ad21","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitRecord","comments":"","instanceIdentifier":"5352370d-b4c2-1677-9914-78a8740b3d1a"},"destination":{"id":"acf973c8-9b7a-3d38-907f-97e2f9b8b241","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"a41f1ab9-6d43-3411-f211-68b250df788a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"d3e83f66-eb0b-3cf8-9c12-0ac627a5fc2a","instanceIdentifier":"53523711-b4c2-1677-e06f-b7c1e0758d38","name":"","source":{"id":"d90dfcfd-c3bb-3f6c-a286-6afa6e87ad21","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitRecord","comments":"","instanceIdentifier":"5352370d-b4c2-1677-9914-78a8740b3d1a"},"destination":{"id":"3f0ee83c-b81c-3c5e-9e72-ff785d15c41c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build Flat Record","comments":"","instanceIdentifier":"5352370e-b4c2-1677-85b5-d9b049d69b95"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"cc4f29c9-3042-3540-87ad-53b1ec807141","instanceIdentifier":"53523723-b4c2-1677-2db8-205ed4333fb6","name":"","source":{"id":"1fb95be3-be56-3410-a7e9-18f1308c750c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Add Fields","comments":"","instanceIdentifier":"5352370c-b4c2-1677-a641-6194e1ffcc79"},"destination":{"id":"41b9fcce-f731-3911-aae9-466a7b8d51f0","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"53523719-b4c2-1677-d15c-cf62b568cee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"44fa8b88-ae93-3ef6-884d-7741a3611b0c","instanceIdentifier":"53523710-b4c2-1677-e2a8-d5ec3268e02f","name":"","source":{"id":"46ddf192-2859-3aa2-a209-9be5f0d8cb1c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build New Record","comments":"","instanceIdentifier":"5352370b-b4c2-1677-60b8-75b0bc27f1e9"},"destination":{"id":"1fb95be3-be56-3410-a7e9-18f1308c750c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Add Fields","comments":"","instanceIdentifier":"5352370c-b4c2-1677-a641-6194e1ffcc79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"21976ff2-688f-3686-8dcc-3901f1799643","instanceIdentifier":"5d01c5b9-eb1e-3633-29fa-abc2990bfe86","name":"","source":{"id":"53aee632-35b3-34a1-986b-33338ba48212","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Septa Bus Service","comments":"","instanceIdentifier":"021e5789-4327-31ed-8c9e-8c438b6ed769"},"destination":{"id":"acf973c8-9b7a-3d38-907f-97e2f9b8b241","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"a41f1ab9-6d43-3411-f211-68b250df788a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"ded08e13-ef60-3d7c-8df0-1cdead2e1a93","instanceIdentifier":"11baa88d-c8bc-3479-2bc1-1ba761432513","name":"","source":{"id":"f6488e19-826c-3fb2-8099-1ff760cf6b4f","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SEPTA Train Service","comments":"","instanceIdentifier":"e155e6ce-e85e-32a6-0214-bb9c9884a492"},"destination":{"id":"a871f399-e801-321c-abfc-548447345987","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"90426901-947f-3d36-e31d-8e129439fabc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"2f5beaf8-0979-3037-a199-6df04c089ebe","instanceIdentifier":"32cc49de-911a-365a-eaec-957d198d440e","name":"","source":{"id":"f6488e19-826c-3fb2-8099-1ff760cf6b4f","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SEPTA Train Service","comments":"","instanceIdentifier":"e155e6ce-e85e-32a6-0214-bb9c9884a492"},"destination":{"id":"0ee4b345-2d77-3d06-bc79-9a31ca39b531","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Update Content Type JSON","comments":"","instanceIdentifier":"133d7bdc-6364-3a0f-3629-0642e2130974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"2cfb8bc7-af28-3027-990a-97302e0d7e56","instanceIdentifier":"5352371a-b4c2-1677-48bc-d2c01791623c","name":"","source":{"id":"3f0ee83c-b81c-3c5e-9e72-ff785d15c41c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Build Flat Record","comments":"","instanceIdentifier":"5352370e-b4c2-1677-85b5-d9b049d69b95"},"destination":{"id":"41b9fcce-f731-3911-aae9-466a7b8d51f0","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"53523719-b4c2-1677-d15c-cf62b568cee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"38561694-17f7-3445-8382-ecc883e129e3","instanceIdentifier":"53523718-b4c2-1677-afff-5fcf816a973e","name":"","source":{"id":"c9687b90-ccf3-3a1b-87ed-d12721eed009","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Update Content Type JSON","comments":"","instanceIdentifier":"c27bbd7b-4f0f-368b-6aa5-db189fa6e386"},"destination":{"id":"e0ca0096-d23c-3f72-af93-47424944815c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitJson","comments":"","instanceIdentifier":"5352370a-b4c2-1677-ec13-b1ac6c6d9d0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"e1760e0d-0bb3-3e7b-ab7e-4b85b4d66888","instanceIdentifier":"53523712-b4c2-1677-f92f-13734f8de311","name":"","source":{"id":"e0ca0096-d23c-3f72-af93-47424944815c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitJson","comments":"","instanceIdentifier":"5352370a-b4c2-1677-ec13-b1ac6c6d9d0c"},"destination":{"id":"d90dfcfd-c3bb-3f6c-a286-6afa6e87ad21","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitRecord","comments":"","instanceIdentifier":"5352370d-b4c2-1677-9914-78a8740b3d1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"ba963040-a551-3026-910f-ba05ab7b2f24","instanceIdentifier":"53523714-b4c2-1677-b4ff-e23b7a8d69b3","name":"","source":{"id":"e0ca0096-d23c-3f72-af93-47424944815c","type":"PROCESSOR","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"SplitJson","comments":"","instanceIdentifier":"5352370a-b4c2-1677-ec13-b1ac6c6d9d0c"},"destination":{"id":"acf973c8-9b7a-3d38-907f-97e2f9b8b241","type":"FUNNEL","groupId":"6c718c21-2edd-3b76-8185-43409520e0c5","name":"Funnel","comments":"","instanceIdentifier":"a41f1ab9-6d43-3411-f211-68b250df788a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"}],"labels":[{"identifier":"726221ab-d33d-37dc-8cee-ed109e6be663","instanceIdentifier":"ac511dd8-e0ac-35ae-7982-65ad606d16fe","position":{"x":80.0,"y":272.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Train/Service/index.php' \\\n  -H 'accept: application/json'","zIndex":0,"width":440.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"7da59e3b-fde2-3778-bcee-cb0654615f1f","instanceIdentifier":"4ba1a14f-41f1-36b1-ece4-39da654cb110","position":{"x":-1392.0,"y":272.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Bus/Trip/index.php' \\\n  -H 'accept: application/json'","zIndex":0,"width":456.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"f6875c97-337d-3815-a198-1d1d2fffa93a","instanceIdentifier":"c9290692-7b52-3fa5-9cb4-cf9d7e831e8a","position":{"x":-2216.0,"y":624.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Bus/Services/index.php' \\\n  -H 'accept: application/json'","zIndex":0,"width":488.0,"height":168.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"6fec59d8-71fc-39bc-8634-96e152f6b42d","instanceIdentifier":"2062dc27-2260-30fc-fba7-63fb3a1e575c","position":{"x":-2256.0,"y":816.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Train/Trip/index.php' \\\n  -H 'accept: application/json'\n","zIndex":0,"width":528.0,"height":224.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"a8defdfe-d065-35cf-8563-31582a6870c5","instanceIdentifier":"05fff1bb-20f5-33b3-da52-d2abeda0d93a","position":{"x":-2232.0,"y":1296.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Bus/Vehicle/index.php' \\\n  -H 'accept: application/json'\n","zIndex":0,"width":536.0,"height":232.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"964762f8-ed86-3ed4-b1f5-4f141a877437","instanceIdentifier":"a590448b-9621-39dc-b2ea-3d2aa8ade291","position":{"x":-2152.0,"y":1072.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/pbtojson/Train/Vehicle/index.php' \\\n  -H 'accept: application/json'\n","zIndex":0,"width":520.0,"height":192.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"}],"funnels":[{"identifier":"acf973c8-9b7a-3d38-907f-97e2f9b8b241","instanceIdentifier":"a41f1ab9-6d43-3411-f211-68b250df788a","position":{"x":88.0,"y":1392.0},"componentType":"FUNNEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"41b9fcce-f731-3911-aae9-466a7b8d51f0","instanceIdentifier":"53523719-b4c2-1677-d15c-cf62b568cee7","position":{"x":168.0,"y":2256.0},"componentType":"FUNNEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"},{"identifier":"a871f399-e801-321c-abfc-548447345987","instanceIdentifier":"90426901-947f-3d36-e31d-8e129439fabc","position":{"x":832.0,"y":640.0},"componentType":"FUNNEL","groupIdentifier":"6c718c21-2edd-3b76-8185-43409520e0c5"}],"controllerServices":[],"parameterContextName":"septapabusalerts","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":250000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"8c9157d0-d6a4-3089-98ce-2c4b68f983b1":{"identifier":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","name":"JsonRecordSetWriterMTA"},"c8de2d9d-868f-3017-ae47-70362fa1a938":{"identifier":"c8de2d9d-868f-3017-ae47-70362fa1a938","name":"BuildSchemaJsonRecordSetWriter"}},"parameterContexts":{"septapabusalerts":{"name":"septapabusalerts","parameters":[],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}