SEPTA_PA_----_LIVE_DATA (1).json
{"flowContents":{"identifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f","instanceIdentifier":"994a6b70-23e2-30ee-22f4-b254c1e60e54","name":"SEPTA PA ---- LIVE DATA","comments":"","position":{"x":-1000.0,"y":1504.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9b4e5c3f-4582-3244-a38b-669aa4a484e0","instanceIdentifier":"1f40e583-5316-398d-dbef-f090f607b843","name":"SEPTA  Train HTTP","comments":"","position":{"x":-2216.0,"y":896.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"125 secs","Response Cookie Strategy":"ACCEPT_ALL","Socket Read Timeout":"515 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www3.septa.org/api/TrainView/index.php","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"15 mins","Response Redirects Enabled":"True","Socket Write Timeout":"215 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","accept":"application/json","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":"nifi-septa","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accept":{"name":"accept","displayName":"accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"9cd3e47e-cfda-3de1-9d8e-0971d37608d2","instanceIdentifier":"8e1f0abb-657b-3576-a326-f0edf13e68df","name":"RetryFlowFile","comments":"","position":{"x":-616.0,"y":1856.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"dee26d5e-67bc-3583-832b-b6643586a125","instanceIdentifier":"5528cacb-230e-3c75-7b29-c1ea41c364d8","name":"Update Content Type JSON","comments":"","position":{"x":-608.0,"y":872.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Mime-Type":"application/json","schema":"septaallroutes","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"septaallroutes","topic":"septaallroutes","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"914db87d-25e8-3970-809f-add300a44246","instanceIdentifier":"5352373c-b4c2-1677-4cbc-e8aed407b43e","name":"SplitRecord","comments":"","position":{"x":-608.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"c8de2d9d-868f-3017-ae47-70362fa1a938","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"30d3742a-d200-3281-ad02-f7ece10dc6e1","instanceIdentifier":"87bf58bc-ca09-3b76-ab60-6b94482e6a9b","name":"HTTP SEPTA view","comments":"","position":{"x":-608.0,"y":680.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"25 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"515 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www3.septa.org/api/TransitViewAll/index.php","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"15 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","accept":"application/json","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":"nifi-septa","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accept":{"name":"accept","displayName":"accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"ff3239cb-9f06-333a-bc19-a9bb9980f68c","instanceIdentifier":"4a08f522-f8e9-331e-3f88-fafb7290d182","name":"Add Fields","comments":"","position":{"x":-616.0,"y":1448.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"/uuid":"${uuid}","Record Writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","/ts":"${now():toNumber()}","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"fe13d827-f7d3-3b93-b9dd-e2b9c43723a0","instanceIdentifier":"c302b618-a07d-377a-48d3-793d474dfb34","name":"Add Fields","comments":"","position":{"x":-2240.0,"y":1488.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"/uuid":"${uuid}","Record Writer":"481ccc9e-1251-3ff6-88f6-dce72778c942","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","/ts":"${now():toNumber()}","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"9a84cc40-2d35-3246-9f3e-0205af323741","instanceIdentifier":"ad4b514c-5eb7-3a13-4ff9-f29a4674d433","name":"Update Content Type JSON","comments":"","position":{"x":-2224.0,"y":1096.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Mime-Type":"application/json","schema":"septatrain","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"septatrain","topic":"septatrain","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"22a4b756-eb7d-3404-8394-056592a713a3","instanceIdentifier":"f011dbc7-bae5-33be-458b-e948d33710c2","name":"SplitRecord","comments":"","position":{"x":-2232.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"fe9b8878-2cdd-353e-8168-c8f8e1338aa0","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"c41d5214-b04a-3623-b092-f18d263cdd3f","instanceIdentifier":"6e6ce329-ec7b-3337-9062-2c243785abcc","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":-2240.0,"y":1680.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"481ccc9e-1251-3ff6-88f6-dce72778c942","bootstrap.servers":"#{KafkaBrokers}","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"septanifistation","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"${topic}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"cda89e14-e407-375c-b185-18c367a198f3","instanceIdentifier":"a58e7a9d-996b-3efa-1c50-68361a7e7da5","name":"RetryFlowFile","comments":"","position":{"x":-2248.0,"y":1880.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"aae0daf2-db4b-3779-b7ee-5d67f6520aab","instanceIdentifier":"5352373a-b4c2-1677-2e5b-adec49342a8f","name":"SplitJson","comments":"","position":{"x":-608.0,"y":1056.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.routes.*.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"63b02b15-b0a6-3ec8-9ec0-6dcd6be6b6a7","instanceIdentifier":"509d5a95-2682-32bf-c233-3ffce187fa05","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":-608.0,"y":1648.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M2"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"septaall","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"${topic}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ad8bb771-55fd-342a-9381-1e3204c31e81","instanceIdentifier":"3a8d088d-2e66-342b-b097-c1b7a7756f0e","name":"","source":{"id":"9b4e5c3f-4582-3244-a38b-669aa4a484e0","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SEPTA  Train HTTP","comments":"","instanceIdentifier":"1f40e583-5316-398d-dbef-f090f607b843"},"destination":{"id":"9a84cc40-2d35-3246-9f3e-0205af323741","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Update Content Type JSON","comments":"","instanceIdentifier":"ad4b514c-5eb7-3a13-4ff9-f29a4674d433"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"ebed3d49-4ad6-3bfc-bc60-64bd5fb1fa58","instanceIdentifier":"8e1975b6-1df7-35d7-fcc9-133b59efc92a","name":"","source":{"id":"9b4e5c3f-4582-3244-a38b-669aa4a484e0","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SEPTA  Train HTTP","comments":"","instanceIdentifier":"1f40e583-5316-398d-dbef-f090f607b843"},"destination":{"id":"21ef6d23-5437-34f4-a989-188a5d6c91d8","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"2f45eb71-986b-35ec-f846-684e5602eed7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"1f8b3d3e-208b-3ee9-b557-2197ca6fbd83","instanceIdentifier":"d85dd57d-f05f-33b7-1ed5-a80f45d57d41","name":"","source":{"id":"9cd3e47e-cfda-3de1-9d8e-0971d37608d2","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"8e1f0abb-657b-3576-a326-f0edf13e68df"},"destination":{"id":"63b02b15-b0a6-3ec8-9ec0-6dcd6be6b6a7","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"509d5a95-2682-32bf-c233-3ffce187fa05"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":1832.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"5fca2503-2887-3319-ac39-47f56853aace","instanceIdentifier":"53523740-b4c2-1677-f202-2129670e5e34","name":"","source":{"id":"aae0daf2-db4b-3779-b7ee-5d67f6520aab","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitJson","comments":"","instanceIdentifier":"5352373a-b4c2-1677-2e5b-adec49342a8f"},"destination":{"id":"914db87d-25e8-3970-809f-add300a44246","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"5352373c-b4c2-1677-4cbc-e8aed407b43e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"074a07a0-32e7-3d9d-b475-88abb48a31d4","instanceIdentifier":"5352373f-b4c2-1677-3d6e-e20d2011ad32","name":"","source":{"id":"914db87d-25e8-3970-809f-add300a44246","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"5352373c-b4c2-1677-4cbc-e8aed407b43e"},"destination":{"id":"ff3239cb-9f06-333a-bc19-a9bb9980f68c","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"4a08f522-f8e9-331e-3f88-fafb7290d182"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"b26fdf91-2a48-3aea-a2c0-43ee69594d9c","instanceIdentifier":"50590a82-802e-3598-da4a-9ff839dad1fe","name":"","source":{"id":"22a4b756-eb7d-3404-8394-056592a713a3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"f011dbc7-bae5-33be-458b-e948d33710c2"},"destination":{"id":"21ef6d23-5437-34f4-a989-188a5d6c91d8","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"2f45eb71-986b-35ec-f846-684e5602eed7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"139018b3-e075-3ec6-b1c5-3c371c4222da","instanceIdentifier":"47ba9fd3-655d-33b8-5e32-da2f5a7768c8","name":"","source":{"id":"cda89e14-e407-375c-b185-18c367a198f3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"a58e7a9d-996b-3efa-1c50-68361a7e7da5"},"destination":{"id":"27c7cbae-487e-3bc7-93a0-101b1bd43cda","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"dfc8de2a-db53-3fcd-0c97-f9a6298926f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"4855e3f1-5e8a-3aeb-a25e-13f8ff51740c","instanceIdentifier":"6482dee2-e417-3447-98b5-e3224b115dbe","name":"","source":{"id":"22a4b756-eb7d-3404-8394-056592a713a3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"f011dbc7-bae5-33be-458b-e948d33710c2"},"destination":{"id":"fe13d827-f7d3-3b93-b9dd-e2b9c43723a0","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"c302b618-a07d-377a-48d3-793d474dfb34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"a28dda5f-dc22-381a-bce1-8f8b66929c37","instanceIdentifier":"1caea0a5-494b-3c31-0e6d-f7e0944e9c2e","name":"","source":{"id":"fe13d827-f7d3-3b93-b9dd-e2b9c43723a0","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"c302b618-a07d-377a-48d3-793d474dfb34"},"destination":{"id":"21ef6d23-5437-34f4-a989-188a5d6c91d8","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"2f45eb71-986b-35ec-f846-684e5602eed7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"50d71b29-e524-3c9a-acd2-118d74f27012","instanceIdentifier":"99bac091-dfca-37ee-5fea-486c1160b5f5","name":"","source":{"id":"63b02b15-b0a6-3ec8-9ec0-6dcd6be6b6a7","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"509d5a95-2682-32bf-c233-3ffce187fa05"},"destination":{"id":"9cd3e47e-cfda-3de1-9d8e-0971d37608d2","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"8e1f0abb-657b-3576-a326-f0edf13e68df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"8ac2d53e-7b33-3420-9e5a-45eba4442ca8","instanceIdentifier":"32840ce1-1e29-3469-e5c8-8f23ca3c5f12","name":"","source":{"id":"fe13d827-f7d3-3b93-b9dd-e2b9c43723a0","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"c302b618-a07d-377a-48d3-793d474dfb34"},"destination":{"id":"c41d5214-b04a-3623-b092-f18d263cdd3f","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"6e6ce329-ec7b-3337-9062-2c243785abcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"84579519-8107-338e-bb69-df80215d239c","instanceIdentifier":"53523743-b4c2-1677-9b0c-8cb8829d5e0f","name":"","source":{"id":"aae0daf2-db4b-3779-b7ee-5d67f6520aab","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitJson","comments":"","instanceIdentifier":"5352373a-b4c2-1677-2e5b-adec49342a8f"},"destination":{"id":"2684968b-3719-314d-bd0b-c7bf129da9ec","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"a3e72af7-c47a-3f57-426a-558390911ff6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"4d8e5adc-b167-3d3f-ac22-cf0a0c9c8d6d","instanceIdentifier":"53523744-b4c2-1677-d1da-812e6c2ed1d8","name":"","source":{"id":"914db87d-25e8-3970-809f-add300a44246","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"5352373c-b4c2-1677-4cbc-e8aed407b43e"},"destination":{"id":"2684968b-3719-314d-bd0b-c7bf129da9ec","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"a3e72af7-c47a-3f57-426a-558390911ff6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"d0728b22-d256-336b-8e87-14a12c60f9c8","instanceIdentifier":"6fee15ae-d5ba-354d-6840-64fe2821121b","name":"","source":{"id":"c41d5214-b04a-3623-b092-f18d263cdd3f","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"6e6ce329-ec7b-3337-9062-2c243785abcc"},"destination":{"id":"cda89e14-e407-375c-b185-18c367a198f3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"a58e7a9d-996b-3efa-1c50-68361a7e7da5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"9deb08be-e4b6-34b8-9415-8b8375f85d89","instanceIdentifier":"e83dca19-51de-375f-e685-0677a5166bd8","name":"","source":{"id":"ff3239cb-9f06-333a-bc19-a9bb9980f68c","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"4a08f522-f8e9-331e-3f88-fafb7290d182"},"destination":{"id":"63b02b15-b0a6-3ec8-9ec0-6dcd6be6b6a7","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"509d5a95-2682-32bf-c233-3ffce187fa05"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"358698c4-424c-3901-8dfa-78c44bac5e35","instanceIdentifier":"a24e70e9-704c-30bf-5a12-39254cd7d897","name":"","source":{"id":"cda89e14-e407-375c-b185-18c367a198f3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"a58e7a9d-996b-3efa-1c50-68361a7e7da5"},"destination":{"id":"c41d5214-b04a-3623-b092-f18d263cdd3f","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"6e6ce329-ec7b-3337-9062-2c243785abcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2408.0,"y":1928.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"7920fa5b-6ae3-3c34-be6f-90da8ea691b3","instanceIdentifier":"150a4d2b-7c84-3175-1b2e-6c893df9c5e6","name":"","source":{"id":"30d3742a-d200-3281-ad02-f7ece10dc6e1","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"HTTP SEPTA view","comments":"","instanceIdentifier":"87bf58bc-ca09-3b76-ab60-6b94482e6a9b"},"destination":{"id":"dee26d5e-67bc-3583-832b-b6643586a125","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Update Content Type JSON","comments":"","instanceIdentifier":"5528cacb-230e-3c75-7b29-c1ea41c364d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"14fb60ab-2de6-393c-9fc2-76223215edad","instanceIdentifier":"54f2f8c1-2c66-33cd-8358-17939e9e98fb","name":"","source":{"id":"30d3742a-d200-3281-ad02-f7ece10dc6e1","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"HTTP SEPTA view","comments":"","instanceIdentifier":"87bf58bc-ca09-3b76-ab60-6b94482e6a9b"},"destination":{"id":"656efb1e-c67b-3d4b-99e2-8d65bc946e17","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"313b5193-07c5-3d81-f03c-a1cce39cd221"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"c8de906a-f786-328d-9f7a-99e11a568eee","instanceIdentifier":"7e6c9f1a-b952-3f3f-d930-b0c100f842f7","name":"","source":{"id":"9cd3e47e-cfda-3de1-9d8e-0971d37608d2","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"RetryFlowFile","comments":"","instanceIdentifier":"8e1f0abb-657b-3576-a326-f0edf13e68df"},"destination":{"id":"2684968b-3719-314d-bd0b-c7bf129da9ec","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"a3e72af7-c47a-3f57-426a-558390911ff6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"b746d14d-be03-36f8-83b0-bb9867154a63","instanceIdentifier":"53523741-b4c2-1677-b71b-13725622a648","name":"","source":{"id":"ff3239cb-9f06-333a-bc19-a9bb9980f68c","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Add Fields","comments":"","instanceIdentifier":"4a08f522-f8e9-331e-3f88-fafb7290d182"},"destination":{"id":"2684968b-3719-314d-bd0b-c7bf129da9ec","type":"FUNNEL","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Funnel","comments":"","instanceIdentifier":"a3e72af7-c47a-3f57-426a-558390911ff6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"ae2f5aec-50a0-3e64-a5a1-36915b2d8a0b","instanceIdentifier":"53523742-b4c2-1677-d1a1-d44f9693b2d4","name":"","source":{"id":"dee26d5e-67bc-3583-832b-b6643586a125","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Update Content Type JSON","comments":"","instanceIdentifier":"5528cacb-230e-3c75-7b29-c1ea41c364d8"},"destination":{"id":"aae0daf2-db4b-3779-b7ee-5d67f6520aab","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitJson","comments":"","instanceIdentifier":"5352373a-b4c2-1677-2e5b-adec49342a8f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"df44178b-d558-3701-950c-c738119e3803","instanceIdentifier":"42182916-d566-31cf-5dab-a0569540f903","name":"","source":{"id":"9a84cc40-2d35-3246-9f3e-0205af323741","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"Update Content Type JSON","comments":"","instanceIdentifier":"ad4b514c-5eb7-3a13-4ff9-f29a4674d433"},"destination":{"id":"22a4b756-eb7d-3404-8394-056592a713a3","type":"PROCESSOR","groupId":"ac2def3e-9e31-3948-a4e0-56baba473b6f","name":"SplitRecord","comments":"","instanceIdentifier":"f011dbc7-bae5-33be-458b-e948d33710c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"}],"labels":[{"identifier":"1549ffc2-fa13-3e0d-80a6-16a3e1b960d9","instanceIdentifier":"5d11c4ae-d4ff-3022-331d-e699fcae2ab7","position":{"x":-2881.101047120419,"y":346.18429319371717},"label":"Septa Elevators\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/elevator/index.php' \\\n  -H 'accept: application/json'","zIndex":0,"width":448.0,"height":144.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"355a4eba-644a-34dd-88d0-3323e2d8d638","instanceIdentifier":"f597f1e0-baa0-3c3f-5b36-8426aa45fd1b","position":{"x":-2832.0,"y":1272.0},"label":"curl -X 'GET' \n  'https://www3.septa.org/api/RRSchedules/index.php?req1=3223P' \n  -H 'accept: application/json'\n\nget static schedule per train number\n\n\n\nget static schedule per bus stop\n\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/BusSchedules/index.php?stop_id=2' \\\n  -H 'accept: application/json'\n\nget every bus and trolley stop for a route\n\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/Stops/index.php?req1=1' \\\n  -H 'accept: application/json'\n\n\nGet all locations near a lat/long\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/locations/get_locations.php?lon=-75.148887&lat=40.018128&radius=5' \\\n  -H 'accept: application/json'","zIndex":0,"width":568.0,"height":440.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"e1f1d6c9-7d65-3ea3-8220-b60af053a785","instanceIdentifier":"a70eb98a-99c5-3150-a01b-c06a3b3fb59d","position":{"x":-1728.0,"y":744.0},"label":"Route at a time\n\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/TransitView/index.php?route=1' \\\n  -H 'accept: application/json'\n\n\n\nhttps://realtime.septa.org/assets/json/routes.json\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/Arrivals/index.php?station=30th%20Street%20Station' \\\n  -H 'accept: application/json'\n\n\nhttps://en.wikipedia.org/wiki/List_of_SEPTA_Regional_Rail_stations","zIndex":0,"width":632.0,"height":368.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"7d4b9956-e0e4-3aba-98f5-b5ad9a220f28","instanceIdentifier":"7d468fb3-0cab-3b3d-d482-577b6fc6b2bf","position":{"x":-2999.101047120419,"y":707.1842931937172},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/BusDetours/index.php?req1=1' \\\n  -H 'accept: application/json'\n\ncheck bus detours by route, can be underneath one that gets route\n\nAll check alerts per route\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/Alerts/index.php?routes=1' \\\n  -H 'accept: application/json'\n\n\ncurl -X 'GET' \\\n  'https://www3.septa.org/api/Alerts/get_alert_data.php?route_id=1' \\\n  -H 'accept: application/json'","zIndex":0,"width":640.0,"height":272.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"4e44ae29-85aa-3e6d-aed0-033c89b3b3e5","instanceIdentifier":"af0dc2bf-78ac-34e4-45eb-fad5cff19581","position":{"x":-2272.0,"y":656.0},"label":"curl -X 'GET' \\\n  'https://www3.septa.org/api/TrainView/index.php' \\\n  -H 'accept: application/json'\n\n\n\nhttps://realtime.septa.org/schedules","zIndex":0,"width":456.0,"height":224.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"}],"funnels":[{"identifier":"656efb1e-c67b-3d4b-99e2-8d65bc946e17","instanceIdentifier":"313b5193-07c5-3d81-f03c-a1cce39cd221","position":{"x":24.0,"y":760.0},"componentType":"FUNNEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"2684968b-3719-314d-bd0b-c7bf129da9ec","instanceIdentifier":"a3e72af7-c47a-3f57-426a-558390911ff6","position":{"x":256.0,"y":1400.0},"componentType":"FUNNEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"21ef6d23-5437-34f4-a989-188a5d6c91d8","instanceIdentifier":"2f45eb71-986b-35ec-f846-684e5602eed7","position":{"x":-1360.0,"y":1464.0},"componentType":"FUNNEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"},{"identifier":"27c7cbae-487e-3bc7-93a0-101b1bd43cda","instanceIdentifier":"dfc8de2a-db53-3fcd-0c97-f9a6298926f3","position":{"x":-1576.0,"y":1792.0},"componentType":"FUNNEL","groupIdentifier":"ac2def3e-9e31-3948-a4e0-56baba473b6f"}],"controllerServices":[],"parameterContextName":"Septa","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":250000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"fe9b8878-2cdd-353e-8168-c8f8e1338aa0":{"identifier":"fe9b8878-2cdd-353e-8168-c8f8e1338aa0","name":"Standard Inherit JsonRecordSetWriter"},"481ccc9e-1251-3ff6-88f6-dce72778c942":{"identifier":"481ccc9e-1251-3ff6-88f6-dce72778c942","name":"Standard Inherit JsonRecordSetWriter"},"8c9157d0-d6a4-3089-98ce-2c4b68f983b1":{"identifier":"8c9157d0-d6a4-3089-98ce-2c4b68f983b1","name":"JsonRecordSetWriterMTA"},"c8de2d9d-868f-3017-ae47-70362fa1a938":{"identifier":"c8de2d9d-868f-3017-ae47-70362fa1a938","name":"BuildSchemaJsonRecordSetWriter"}},"parameterContexts":{"Septa":{"name":"Septa","parameters":[{"name":"KafkaBrokers","description":"","sensitive":false,"provided":false,"value":"kafka:9092"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}